*.o
*.obj
*.a
*.so
*.dylib
*.dSYM
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.cab
*.manifest
*~
*.old
*.qlf
*.out
*.aux
*.idx
*.ilg
*.ind
*.log
*.toc
*.class
*.bbl
*.blg
TAGS
swipl
autom4te.cache
config.h.in
configure
config.log
config.status
CXX/demo/Makefile
Makefile
lib/*-linux
lib/*-darwin*
linux
mingw
win32
win64
man/reference/index.obj
pl/src/Makefile.bin
prolog/lib/.pwd
prolog/lib/Makefile
prolog/pwboot/Makefile
sicstus/src/Makefile
src/names
src/.names-sentinel
src/xpce-stub.exe
src/xpce-stub.res
src/find_names.dSYM
src/xpce-copy.dSYM
xpce.spec
src/xpce-copy.exe
src/config.h
src/version.h
src/xpce-client
src/xpce-copy
